{% load static %}

{% include "Base.html" %}
{% include "navigation.html" %}


{% block  content %}


<div class = "text-center"  style = "margin-top:50px;">
    <div>

               <font color="#000"  size="5px" > Welcome to <mark>Gaza Hospital</mark> </font> <br> <br>

                <font color="#000" size="4px"> Best Medical & Health care Needs to Our Patients </font> <br> <br>
        
</div>

      

       <a class="navbar-brand" href="#">
        <img src="{% static 'image\Hospital-de-Bellvitge.jpg' %}" alt="Bootstrap" width="500" height="300">

      </a>


{% endblock content %}